.wrapper {
    width: 82%;
    height: 95.2vh;
}

.wrapper .content {
    margin-top: 5px;
    margin-left: 5px;
    height: auto;
    min-height: 94.7vh;
    width: 100%;
}


@media (max-width: 1280px) {
    .wrapper {
        width: 75%;
        height: 94.9vh;
    }

    .wrapper .content {
        height: auto;
        min-height: 94.4vh;
    }
}